.case-01 {
  $white: #ffffff;
  $black: #0d0417;
  $gray-background: #f5f5f5;
  $gray-border: #dedddf;
  $dark-gray: #787878;
  $yellow: #f8d456;

  font-family: "Noto Sans", "Arial", sans-serif;

  main {
    padding-top: 98px;
    padding-bottom: 98px;
  }

  .link {
    $visited-color: #797980;

    font-size: 14px;
    line-height: 18px;
    color: $black;

    transition: text-decoration-color 0.2s ease-in-out 0s;

    &:visited {
      color: $visited-color;
    }

    &:hover {
      text-decoration: underline;
      text-decoration-color: $black;

      transition: text-decoration-color 0.2s ease-in-out 0s;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible,
    &:active {
      text-decoration: underline;
      text-decoration-color: $yellow;
      text-decoration-thickness: 2px;
      transition: text-decoration-color 0.2s ease-in-out 0s;
    }

    &--with-icon {
      position: relative;

      display: inline-block;
      padding-right: 33px;

      &::before {
        content: "";

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        display: inline-block;
        width: 18px;
        height: 18px;

        background-color: $white;
        border-radius: 50%;

        transition: background-color 0.2s ease-in-out 0s;
      }

      &::after {
        content: "";

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 6px;

        width: 5px;
        height: 8px;

        background-image: url("../../img/case-01/arrow-black.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
      }

      &:hover {
        &::before {
          background-color: $yellow;
        }

        &::after {
          background-image: url("../../img/case-01/arrow-white.svg");
        }
      }
    }
  }

  .button {
    $disabled-background: #e5e4e1;
    $disabled-color: #a6a5a2;

    display: inline-block;
    padding: 0 20px;

    font-size: 14px;
    line-height: calc(49px - 2px * 2);
    text-align: center;
    font-weight: 700;
    vertical-align: top;
    color: $black;

    background-color: $yellow;
    border: 2px solid $yellow;
    border-radius: 6px;

    transition: box-shadow 0.2s ease-in-out 0s;

    cursor: pointer;

    &:enabled:hover,
    &:enabled:focus,
    &:enabled:active {
      transition: background-color 0.2s ease-in-out 0s;
    }

    &:enabled:hover {
      background-color: $gray-background;
    }

    &:enabled:focus {
      outline: none;
    }

    &:enabled:focus-visible,
    &:enabled:active {
      transition: box-shadow 0.2s ease-in-out 0s;
      box-shadow: 0 0 0 1px $black;
    }

    &:disabled {
      color: $disabled-color;

      background-color: $disabled-background;
      border-color: $disabled-background;

      cursor: not-allowed;
    }
  }

  .star-rating {
    display: flex;

    img:not(:last-child) {
      margin-right: 5px;
    }
  }

  .characteristics {
    margin: 0;

    dt {
      max-width: 45%;

      color: $dark-gray;
    }

    dd {
      max-width: 46%;
      margin: 0;

      text-align: right;
    }
  }

  .characteristics__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;

    border-bottom: 1px solid $gray-border;

    &:first-of-type {
      margin-top: -7px;
    }
  }

  .product-card-container {
    width: 100%;
    min-width: 1200px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .product-card {
    display: grid;
    grid-template-columns: 670px 470px;
    column-gap: 30px;
  }

  .product-card__img-container {
    border-radius: 8px;
  }

  .product-card__picture {
    display: block;
  }

  .product-card__info {
    display: grid;
    grid-template-rows:
      repeat(3, auto)
      1fr
      repeat(2, auto);
    padding: 35px 30px;

    font-size: 14px;
    line-height: 19px;
    color: $black;

    background-color: $gray-background;
    border-radius: 8px;
  }

  .product-card__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
  }

  .product-card__subtitle {
    margin: 0;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  .product-card__vendor-code {
    margin: 0;
    margin-bottom: 20px;

    color: $dark-gray;
  }

  .product-card__price-and-rating-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 311px;
    margin-bottom: 30px;
  }

  .product-card__price {
    margin: 0;

    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
  }

  .product-card__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 198px;
  }

  .product-card__link-to-reviews {
    font-size: 14px;
    line-height: 19px;
  }

  .product-card__description {
    margin-bottom: 35px;
  }

  .product-card__text {
    margin: 0;
  }

  .product-card__characteristics {
    margin-bottom: 26px;
  }

  .product-card__button-block {
    display: flex;
    align-items: center;
  }

  .product-card__button {
    width: 194px;
    margin-right: 15px;
  }

  .product-card__link-to-availability {
    max-width: 186px;
    margin-left: 15px;

    span {
      max-width: 153px;
    }
  }
}
